$maindark : rgb(27, 3, 46);
$mainpoint : rgb(233, 125, 30);


@mixin fontpoint {
  font-family: reklame-script, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 4rem;
  letter-spacing: 1.5px;
  color: aliceblue;
}
@mixin addCard() {
  display: block;
  width: 4.5rem;
  height: 4.5rem;
  margin: 0 auto;
  border: 2.5px solid $maindark;
  border-radius: 50%;
  color: $maindark;
  transition: all .3s;
  &:hover{
    background: $maindark;
    color: $mainpoint;
  }
}

main{
  position: relative;
  margin-bottom: 10rem;
  h2{
    padding: 10.5rem 0 8.5rem 0;
    font-size: 2.2rem;
    font-weight: 500;
    text-align: left;
    letter-spacing: 1px;
    color: aliceblue;
    opacity: .3;
  }
  .slider-container{
    position: relative;
    width: 100%;
    height: 53rem;
    overflow: scroll;
    &::-webkit-scrollbar{
      display: none;
    }
    .slider-wrapper{
      display: flex;
      width: 200%;
      align-items: center;
      flex-wrap: nowrap;
      margin-bottom: 10rem;

    }
  }
  .slider-navigation{
    position: relative;
    width: 100%;
    height: 5px;
    background-color: rgba($color: #FFF, $alpha: 0.2);
    border-radius: 3px;
    .navigation-bar{
      position: absolute;
      left: 0;
      width: 33%;
      height: 100%;
      border-radius: 3px;
      background-color: rgba($color: #FFF, $alpha: 0.8);
    }
  }
}
.slider-cont{
  position: relative;
  width: 40rem;
  height: 35rem;
  padding: 3rem;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, .15));
  // background-color: rgba($color: #FFF, $alpha: 0.3);
  border-radius: 2rem;
  margin-right: 5.5rem;
  &::after{
    position: absolute;
    left: 0;
    bottom: -7rem;
    content: '';
    width: 100%;
    height: 15rem;
    background: radial-gradient(ellipse at center 50% , rgba(171,84,51,.2) 10%, rgba(27,3,46,0.4) 70%);
    background-repeat: no-repeat;
    background-position: center;
    z-index: -9;
  }
  .left{
    
  }
  .mid ,.right{
    display: none;
  }
}
.alcohol-visual{
  position: relative;
  display: flex;
  // width: 20rem;
  height: 30rem;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  h4{
    @include fontpoint();
  }
  img{
    // width: 50%;
    height: 60%;
  }
}
// active 된 슬라이드
.slider-cont.--active{
  width: 72.5rem;
  height: 40rem;
  display: grid;
  grid-template-columns: 30% 60% 10%;
  align-items: center;
  .mid{
    padding-left: 1em;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
    letter-spacing: 1px;
    color: aliceblue;
    h5{
      font-size: 1.2rem;
      font-weight: 300;
    }
    .alcohol-abv{
      display: flex;
      height: 2.2rem;
      vertical-align: text-bottom;
      b{
        font-size: 1.8rem;
        font-weight: 500;
      }
      span{
        display: inline-block;
        padding: 0 1em;
      }
    }
    .alcohol-style{
      display: flex;
      width: 100%;
      justify-content: space-around;
      .style-item{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 8rem;
        height: 8rem;
        
        background: $maindark;
        border-radius: 50%;
      }
    }
    .alcohol-infor{
      font-size: 1.4rem;
      font-weight: 300;
      line-height: 1.4;
      word-spacing: 1px;
      color: aliceblue;
      opacity: .5;
    }

  }
  .right{
    display: block;
    height: 100%;
    color: $maindark;
    opacity: .8;
    .add-card{
      @include addCard();
    }
    p{
      display: inline-block;
      margin-top: 1em;
      font-size: 1.4rem;
    }
  }

}
