@import "_common.scss";


main .main-slider{
  @include commonHead();

  .slider-container{
    position: relative;
    width: 100%;
    height: 53rem;
    overflow: scroll;
    &::-webkit-scrollbar{
      display: none;
    }
    .slider-wrapper{
      position: relative;
      display: flex;
      width: 1800px;
      // width: calc(75.5rem + 40rem * 2);
      align-items: center;
      flex-wrap: nowrap;
      margin-bottom: 10rem;
      transform-origin: left;
      transition: all .3s;
    }
  }
  .slider-navigation{
    position: relative;
    width: 100%;
    height: 5px;
    background-color: rgba($color: #FFF, $alpha: 0.2);
    border-radius: 3px;
    cursor: pointer;
    .navigation-bar{
      position: absolute;
      left: 0;
      width: 33%;
      height: 100%;
      border-radius: 3px;
      background-color: rgba($color: #FFF, $alpha: 0.8);
      transition: all .3s;
    }
  }
}
.slider-cont{
  @include alcoholCard();
  margin-right: 5.5rem;
  &::after{
    position: absolute;
    left: 0;
    bottom: -7rem;
    content: '';
    width: 100%;
    height: 15rem;
    background: radial-gradient(ellipse at center 50% , rgba(171,84,51,.2) 10%, rgba(27,3,46,0.4) 70%);
    background-repeat: no-repeat;
    background-position: center;
    z-index: -9;
    -webkit-user-drag: none;
  }
  .mid ,.right{
    display: none;
  }
}
// active 된 슬라이드
.slider-cont.--active{
  // width: 800px;
  width: 72.5rem;
  height: 40rem;
  display: grid;
  grid-template-columns: 30% 60% 10%;
  align-items: center;
  .mid{
    padding-left: 1em;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
    letter-spacing: 1px;
    color: aliceblue;
    h5{
      font-size: 1.2rem;
      font-weight: 300;
    }
    .alcohol-abv{
      display: flex;
      height: 2.2rem;
      vertical-align: text-bottom;
      b{
        font-size: 1.8rem;
        font-weight: 500;
      }
      span{
        display: inline-block;
        padding: 0 1em;
      }
    }
    .alcohol-style{
      display: flex;
      width: 100%;
      justify-content: space-around;
      .style-item{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 8rem;
        height: 8rem;
        
        background: $maindark;
        border-radius: 50%;
      }
    }
    .alcohol-infor{
      font-size: 1.4rem;
      font-weight: 300;
      line-height: 1.4;
      word-spacing: 1px;
      color: aliceblue;
      opacity: .5;
    }

  }
  .right{
    display: block;
    height: 100%;
    color: $maindark;
    opacity: .8;
    .add-card{
      @include addCard();
    }
    p{
      display: inline-block;
      margin-top: 1em;
      font-size: 1.4rem;
    }
  }
}
