$mainpoint : rgb(233, 125, 30);
$maindark : rgb(27, 3, 46);
$mainbase : rgb(127, 64, 40);
$fontbasic: rgb(54, 54, 54);

@mixin fontpoint {
  // font-family: rixmmjse-pro, serif;
  // font-weight: 700;
  // font-style: normal;
  color: aliceblue;
  font-family: reklame-script, sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1.5px;
}

:root{
  font-size: 10px;

}
// basic 설정 initializing
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline-style: none;
}
html{
  body{
    font-family: source-han-sans-korean, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.4rem;
    color: $fontbasic;

    letter-spacing: 0;
    line-height: 1;

    position: relative;
    background: url('./../background.svg') no-repeat center;
    background-size: cover;
    height: 100%;
    .App{
      .container{
        // width: 1360px;
        width: 65%;
        // width: 80%;
        height: 100%;
        margin: 0 auto;
      }
    }
    button{
      border: none;
      background: none;
      cursor: pointer;
    }
    ul,li{
      list-style: none;
    }
    a{
      text-decoration: none;
    }
  }
}

header{
  width: 100%;
  height: 4.5rem;
  margin: 3rem 0;
  .container{
    display: flex;
    justify-content: space-between;
  }
  .top{
    display: flex;
    align-items: center;
    .button-home{
      @include fontpoint();
      font-size: 3rem;
      padding-right: 5rem;
    }
    .search-pub{
      width: 33rem;
      height: 100%;
      padding: 0 2em;
      font-size: 1.4rem;
      color: aliceblue;
      opacity: .8;
      border: none;
      border-radius: 20rem;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, .2));
    }
    .search-pub::placeholder{
      font-weight: 300;
      color: aliceblue;
      opacity: .5;
    }
  }
  nav{
    display: flex;
    align-items: center;
    margin-left: 5rem;
    a{
      position: relative;
      display: inline-block;
      padding: 0 1em;
      font-size: 1.8rem;
      font-weight: 500;
      color: aliceblue;
      &::after{
        content: '';
        position: absolute;
        left: 1em;
        bottom: -1rem;
        width: 60%;
        height: 2px;
        background: aliceblue;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform .3s;
      }
      &:hover::after{
        transform: scaleX(1);
      }
    }


  }

  .bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    // width: 12rem;
    > *{
      padding: 0 1rem;
    }
    button{
      transition: all .3s;
      &:hover{
        color: $mainpoint;
      }
    }
    .user-profile{
      width: 4.5rem;
      height: 4.5rem;
      margin-left: 2rem;
      border-radius: 50%;
      background-color: $mainpoint;
    }
  }
}

.temp{
  color: blue;
}
.temp2{
  @include fontpoint();
  color: white;
}

.material-icons{
  color: white;
}